<% provide(:title,"Help") %>
<html>
    <head>
        <title><%= yield(:title) =%> | Social networking app</title>
    </head>
    <body>
        <h1>StaticPages#help</h1>
        <p>Find me in app/views/static_pages/help.html.erb</p>
    </body>
</html>


